* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

h1 {
    text-align: center;
}

#sketch-container {
    display: flex;
    height: auto;
    justify-content: center;
    gap: 48px;
}

#controls {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 72px;
}

#controls button {
    width: 120px;
    height: 36px;
}

#grid-container {
    display: grid;
    width: 500px;
    height: 500px;
}

.grid-cell {
    background-color: lightgray;
    border-style: solid;
    border-color: #a9a9a9;
}

.drawn {
    background-color: black;
    border-color: black;
}